{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": ["unused-imports"],
  "reportUnusedDisableDirectives": true,
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "semi": [
      "error",
      "never"
    ],
    "jest/no-mocks-import": "off",
    "no-var": "error",
    "prefer-const": "error",
    "no-param-reassign": "error",
    "prefer-spread": "error",
    "complexity": [
      "error",
      7
    ],
    "camelcase": "error",
    "sort-imports": ["error", {
      "ignoreDeclarationSort": true,
      "memberSyntaxSortOrder": ["all", "multiple", "single", "none"]
    }],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-explicit-any": 2,
    "eqeqeq": "error",
    "no-bitwise": "error",
    "no-constant-condition": "error",
    "no-multiple-empty-lines": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "react/self-closing-comp": ["error", {
      "component": true,
      "html": true
    }],
    "react/jsx-key": "error",
    "react/jsx-tag-spacing": ["error", {"beforeSelfClosing": "never"}],
    "react/jsx-max-props-per-line": ["error", {"when": "multiline"}],
    "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "arrow-body-style": ["error", "as-needed"],
    "unused-imports/no-unused-imports": "error",
    "object-curly-spacing": "error",
    "array-bracket-spacing": "error",
    "react-hooks/exhaustive-deps": "error"
  }
}
